@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
	display: grid;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
	background-color: rgb(248, 238, 180);
}

#h1 {
	font-size: 50px;
}

input[type="color"] {
	width: 3vw;
	height: 3vh;
	border: none;
}

input[type="color"]::-webkit-color-swatch {
	width: 2.5rem;
	height: 2.5rem;
	border-radius: none;
	border: none;
}

#rainbow {
	margin-right: 1rem;
}

#reset, #rainbow {
	width: 7rem;
	height: 3rem;
	margin-bottom: 2rem;
	justify-self: center;
	font-size: 16px;
	background-color: rgb(248, 238, 180);
	border-radius: 9px;
}

#container {
	display: grid;
	width: 500px;
	margin-top: 10px;
}

.childDiv {
	background-color: white;
}

footer {	
	display: flex;
	justify-content: center;
	text-align: center;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.input {
	display: flex;
}

.input input {
	background-color: rgb(248, 238, 180);
	height: 2rem;
	margin-right: 14px;
	border: none;
	padding: 0;
}